.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: space-between;
    row-gap: 10px;
    margin: 15px
  }

  .form button {
    margin: 0;
  }

  .form > p {
    margin: 0;
  }