.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 0px;
  color: #373867;
}

.information {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  border: 3px solid #76a068;
  border-radius: 10px;
}

.field {
  text-align: center;
  width: 90%;
  margin: 5px 0px;
}

.field > h3 {
  margin: 10px 0px;
}

.field > p {
  width: 90%;
  margin: 0px auto 20px;
  border-bottom: 1px solid #76a068;
}

.select {
  width: 90%;
}

@media screen and (min-width: 480px) {
  .field {
    width: 45%;
  }
}
