.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }

  .container h2{
    margin-left: 5%;
  }

  .container label{
    display: flex;
    flex-direction: column;
  }

  .container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    margin-left: 5%;
    border-radius: 10px;
    gap: 15px
  }

  .container input[type="submit"]{
    margin-left: 20px;
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #AACE9B;
    border: rgb(0,0,0) solid 1px;
    border-radius: 5px;
    color: rgb(55, 56, 103);
    margin-left: 10px;
    box-shadow: 3px 3px 10px
  }

  .container input[type="submit"]:hover{
    background-color: rgb(55, 120, 28);
    color: rgb(255,255,255);
    transition-duration: 0,4s;
  }

  .container input[type="submit"]:active{
    background-color: rgb(38, 82, 19);
    transform: translateY(4px);
  }