.rows {
	text-align: center;
	background-color: #F0F4F9;
}

.rows td {
	margin: 2% 1% 2% 1%;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.deletebtn {
	margin: 10%;
	border-color:#F36D6D;
	background-color: #F36D6D;
	font-size: 20px;
	box-shadow: 2px 2px 2px grey;
	border-radius: 20%;
	color: #E4E4E4;
}

.editbtn {
	margin: 10%;
	box-shadow: 2px 2px 2px grey;
	border-radius: 20%;
	border-color: grey;
	background-color: grey;
	font-size: 20px;
	color: #E4E4E4;
}