.rows {
    background-color: #F0F4F9;
    text-align: center;
}

.rows td {
    margin: 2% 1% 2% 1%;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.deletebtn {
    margin: 10%;
    background-color: #F36D6D;
    border-color:#F36D6D;
    font-size: 20px;
    box-shadow: 2px 2px 2px grey;
    border-radius: 20%;
    color: #E4E4E4;
}

.editbtn {
    margin: 10%;
    background-color: grey;
    border-color: grey;
    font-size: 20px;
    box-shadow: 2px 2px 2px grey;
    border-radius: 20%;
    color: #E4E4E4;
}