.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  font-family: 'Roboto', sans-serif;
}

.title {
  align-self: center;
  font-weight: bold;
  font-size: 40px;
  color: #373867;
  margin: 20px 0;
}

.pictureFrame {
  align-self: center;
  margin-bottom: 20px;
}

.pictureFrame * {
  color: #ffffff;
  background-color: #76a068;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #76a068;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #76a068;
  border-radius: 10px;
  color: #373867;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
  max-width: 1000px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-bottom: 1px solid #76a068;
}

.data .row:last-child {
  margin-bottom: 20px;
}

.rowTitle,
.rowText {
  font-size: 16px;
  margin-block-end: 0px;
}

.buttonContainer {
  margin: 20px auto;
}

@media screen and (min-width: 480px) {
  .data {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .row {
    width: 40%;
    margin: 0px auto;
  }
}
