.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  font-family: 'Roboto', sans-serif;
}

.title {
  align-self: center;
  font-weight: bold;
  font-size: 40px;
  margin: 0 auto;
  color: #373867;
}

.pictureFrame {
  align-self: center;
}

.profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #76a068;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #76a068;
  border-radius: 10px;
  color: #373867;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-bottom: 1px solid #76a068;
}

.data .row:last-child {
  margin-bottom: 20px;
}

.rowTitle,
.rowText {
  font-size: 16px;
  margin-block-end: auto;
}

.buttonContainer {
  margin: 20px auto;
}

@media screen and (min-width: 480px) {
  .data {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .row {
    width: 40%;
    margin: 0px auto;
  }
}
