.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.formBody {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-between;
  row-gap: 10px;
  overflow: auto;
  max-width: 400px;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}