/* No usar selector global, afecta a toda la app */
/* *{
  text-decoration: none;
  color: #000000;
} */

.rows {
  margin: 5px 0px;
  background-color: #ffffff;
}

.items {
  text-align: center;
  border: 1px solid #000000;
  padding: 5px 10px;
}

.button {
  background-color: #aace9b;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
}
