.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 15%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: 900;

}

.container button {
  padding: 5px;
  margin-right: 11%;
}