.formContainer {
    width: 100%;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5px;
    overflow: auto;
  }
  
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
