.container, .containerPreloader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.anchor {
  text-align: center;
  width: 50%;
  padding: 10px;
  margin: 20px 0px;
  background-color: #76a068;
  border: 1px solid #000000;
  border-radius: 5px;
}

.tasks {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px grey;
}
