.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
}

@media screen and (min-width: 750px) {
.currentScreen {
    margin-left:15%;
  }
}