.divcontainer {
margin-top: 15px;
}

.container {
margin: 15px 0;
overflow-y: scroll;
border: 1px solid #373867;
border-radius: 4px;
font-size: 14px;
height: 200px;
overflow-y: scroll;
overflow-x: hidden;
}

.divcontainer h3 {
display: inline;
color: #373867;
font-size: 14px;
text-align: justify;
}

.container table {
box-sizing: unset;
margin: 0 10px;
border-spacing: 5px;
}

.container tr {
height: 20px;
}

.container th,
.container td {
padding: 9px;
margin: 0 5px;
text-align: left;
}

.container a,
.addmember {
display: inline;
margin: auto;
padding: 7px;
background: #aace9b;
border-radius: 5px;
font-weight: 500;
font-size: 12px;
text-decoration: none;
color: #373867;
}

.addmember {
margin-left: 80px;
}