.table {
  margin: 0px auto;
  width: 100%;
  border-collapse: collapse;
}

.tableCell {
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'Roboto', sans-serif;
}

.th {
  background-color: #e4e4e4;
  color: #373867;
  padding: 20px;
}

.tr {
  border-bottom: 1px solid #37386725;
}

.tr:nth-child(even) {
  background: #aace9b44;
}

.tbody tr:hover {
  background-color: #aace9b;
}

.td {
  padding: 20px;
  text-align: center;
  color: #232f3e;
}

.tdButton {
  text-align: center;
}
