.table {
  margin: 0px auto;
  width: 100%;
  border-collapse: collapse;
}

.tableCell {
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'Roboto', sans-serif;
}

.th {
  background-color: #e4e4e4;
  color: #373867;
  padding: 20px;
}

.tr {
  border-bottom: 1px solid #37386725;
}

.tr:nth-child(even) {
  background: #76a06844;
}

.tr:nth-child(odd) {
  background: #ffffff;
}

.tbody tr:hover {
  background-color: #76a068;
}

.td {
  max-width: 9vw;
  padding: 20px;
  text-align: center;
  color: #232f3e;
  word-wrap: break-word;
}

.tdPointer {
  max-width: 9vw;
  padding: 20px;
  text-align: center;
  color: #232f3e;
  word-wrap: break-word;
  cursor: pointer;
}

.tdButton {
  text-align: center;
}

@media only screen and (max-width: 760px) {
  .table {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    width: 80%;
    border-collapse: collapse;
  }

  .th {
    display: none;
    background-color: #e4e4e4;
    color: #373867;
  }

  .tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #37386725;
  }

  .tr:nth-child(odd) {
    background: #76a06844;
  }

  .tr:nth-child(even) {
    background: #ffffff;
  }

  .td {
    text-align: center;
    color: #232f3e;
    word-wrap: break-word;
    margin: 5px auto;
  }

  .tdPointer {
    max-width: 80vw;
    margin: 0px auto;
    padding: 15px 0px;
  }

  .tdButton {
    text-align: center;
  }

  .td:before,
  .tdPointer:before {
    padding-right: 3px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: 'First Name:';
  }
  td:nth-of-type(2):before {
    content: 'Last Name:';
  }
  td:nth-of-type(3):before {
    content: 'Phone:';
  }
  td:nth-of-type(4):before {
    content: 'Email:';
  }
  td:nth-of-type(5):before {
    content: 'Status:';
  }
}
