.container {
    height: 60vh;
    width: 600px;
}

.formBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 10px;
    width: 200px;
    height: 60vh;
    margin-left: 5%;
}

  .buttonBox {
    margin-top: 9%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
  }