.maincontainer,
.containerPreloader {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.container > section {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.container th {
  width: 15%;
}

.container th:last-child {
  width: 10%;
}

.title,
.subtitle {
  align-self: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px grey;
  color: rgba(55, 56, 103, 1);
}

.subtitle {
  font-size: 20px;
  text-shadow: none;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.buttonContainer > button {
  align-self: flex-start;
}
