.maincontainer,
.container,
.containerPreloader {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.container > section {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.container th {
  padding: 2% 10px;
}

.title,
.subtitle {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px grey;
  color: rgba(55, 56, 103, 1);
}

.subtitle {
  font-size: 20px;
  text-shadow: none;
}
