.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 20vw;
  max-width: 100%;
  padding: 10px 0;
  row-gap: 10px;
  overflow: auto;
}

.container > div {
  padding: 0 10px;
  width: 90%;
}

/* Success Modal container */
.container > div:last-child {
  width: 100vw;
}
