.sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #373867;
  overflow-x: hidden;
  transition: 0.5s;
  top: 100px;
}

.ul {
  font-size: 20px;
  margin-top: 45px;
  padding: 0;
  color: #ffffff;
  list-style: none;
}

.li {
  margin: 30px 0;
}

.li a {
  display: table-cell;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

.li a svg {
  margin-right: 5px;
}

.li a {
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
}

.li a * {
  color: #ffffff;
  margin-right: 2px;
}

.li a {
  color: #ffffff;
}

.li a:hover {
  color: #76a068;
}
