.maincontainer {
  display: flex;
  width: 600px;
  height: 400px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #373867;
}

.maincontainer .add {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #373867;
}

.formcontainer {
  display: flex;
}

.divcontainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 30px;
}

.larger {
  width: 53%;
}

.buttons input {
  display: block;
  margin: 15px auto;
  padding: 10px 56px;
  background: #76a068;
  border-radius: 3.7px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #373867;
  cursor: pointer;
}

.container a {
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.9;
  cursor: pointer;
}

.goBack {
  display: block;
  margin: 15px auto;
  padding: 10px;
  background: #373867;
  border-radius: 3.7px;
  border: none;
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}
