.appName {
  height: 100px;
  padding: 25px;
  font-size: 35px;
  font-weight: bold;
  
}
.appName h2 {
  visibility:visible;
  color: #ffffff;
  text-align: center;
}
header {
  background-color: #AACE9B;
}



@media screen and (min-width: 750px) {
  .appName h2{
    visibility: hidden;
  }

  header {
    margin-left: 15%;
    
  }
}