
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #AACE9B;
  height: 30%;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  padding:1.5% 0 1.5% 0;
}
.user p {
  margin: 0;
  color: #ffffff;
  font-size: 15px;
  text-shadow: 2px 2px 2px grey;
}

.user * {
  padding-bottom: 5%;
  color: #ffffff;
  font-size: 50px;
}
header p {
  padding-right: 6%;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

.pathname {
  margin-left: 20%;
  color: #ffffff;
  font-size: 40px;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px grey;
}