.textareaContainer {
display: flex;
flex-direction: column;
width: 100%;
}

.label {
display: block;
padding-bottom: 3px;
text-align: justify;
font-weight: 700;
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: #373867;
}

.textarea {
margin: 5px 0 10px 0;
padding: 4px 6px;
border: 1px solid #373867;
border-radius: 4px;
resize: vertical;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: #373867;
}

.textarea::placeholder {
font-weight: 400;
font-size: 14px;
opacity: 0.5;
}

.textarea:focus {
outline: #373867 solid 0.5px;
}