button {
  color: #232F3E;
  font-size: 20px;
  background: none;
  border: 0;
  cursor: pointer;
}

tr:nth-child(even) {
  background: #aace9b44;
}

tr {
  border-bottom: 1px solid #37386725;
}

tbody tr:hover {
  background-color: #aace9b;
}

td {
  padding: 20px;
  text-align: center;
  color: #232F3E;
}
