.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 550px;
  padding: 30px 10px;
  margin: 0px auto;
  border: 3px solid #76a068;
  border-radius: 10px;
  overflow: auto;
}

.container > div {
  max-width: 440px;
  margin: 15px 0px;
}

.container > div:last-child {
  width: 100vw;
  z-index: 5;
}

.container > section {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
