.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 5px 20px;
  background-color: #76a068;
  z-index: 1;
}

.socialContainer {
  display: flex;
  justify-content: space-around;
  width: 180px;
}

.socialContainer a {
  font-size: 30px;
  color: #373867;
  margin: 0px 15px;
}

.license {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #76a068;
}

.location {
  padding: 10px;
  color: #373867;
}

.copyright {
  font-size: 0.8rem;
  font-style: italic;
  color: #373867;
}
