.formBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upperFields {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.upperFields > div {
  width: 45%;
  margin: 0px auto;
}

.lowerFields > div {
  width: 95%;
  margin: 0px auto;
}
