.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  font-family: 'Roboto', sans-serif;
}

.title {
  align-self: center;
  font-weight: bold;
  font-size: 40px;
}

.pictureFrame{
  align-self: center;
}

.profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #76a068;
}

.data {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 150%;
  width: 200px;
  height: 60vh;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rowTitle {
  margin-right: 50px;
}

.buttonContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  margin-left: 50%;
}