.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-family: 'Roboto', sans-serif;
  color: #373867;
  display: block;
  padding-bottom: 3px;
  text-align: justify;
  font-weight: 700;
  font-size: 14px;
}

.input {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 5px 0 10px 0;
  padding: 4px 6px;
  height: 25px;
  border: 1px solid #373867;
  border-radius: 4px;
  color: #373867;
}

.input::placeholder {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
}

.input:focus {
  outline: #373867 solid 0.5px;
}