.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 78px;
}

.checkboxContainer {
  display: flex;
  margin: 6px 0 10px;
  width: 100%;
  align-items: center;
}

.label {
  font-family: 'Roboto', sans-serif;
  color: #373867;
  display: block;
  padding-bottom: 3px;
  text-align: justify;
  font-weight: 700;
  font-size: 14px;
}

.input {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 4px 6px;
  height: 25px;
  border: 1px solid #373867;
  border-radius: 4px;
  color: #373867;
  margin: 5px 0 3px;
}

.input::placeholder {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
}

.input:focus {
  outline: #373867 solid 0.5px;
  border: 1px solid #373867;
  background: none;
  color: #373867;
}

.input[type=checkbox] {
  margin-top: 1px;
  margin-left: 15px;
  cursor: pointer;
}

.input[type=checkbox]:checked{
  accent-color:#34636E;
}

.input[type=checkbox]:focus {
  outline: none;
}

.inputError {
  border: solid 1px #f33413;
  background: rgba(243, 52, 19, 0.19);
  color: #F33413;
}

.input:focus ~ p {
  visibility: hidden;
}

.error {
  visibility: visible;
  color: #F33413;
  text-align: justify;
  font-weight: 500;
  font-size: 12px;
  margin: 3px 0 0px;
}

.noselect {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}