.form {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  overflow: auto;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
