.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 2% 30px 2%;
  font-family: 'Roboto', sans-serif;
  color: rgba(55, 56, 103, 1);
}

.btnContainer {
  display: flex;
  width: 100%;
  max-width: 820px;
}

.btnContainer button {
  margin: 20px 0px 20px 10px;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  border: 3px solid #76a068;
  border-radius: 10px;
}

.field {
  width: 90%;
  margin: 5px 0px;
  text-align: center;
}

.field > h3 {
  margin: 10px 0px;
}

.field > p {
  width: 90%;
  margin: 0px auto 20px;
  border-bottom: 1px solid #76a068;
  word-wrap: break-word;
}

.fieldDescription {
  width: 60%;
  margin: 5px 0px;
  text-align: center;
}

.fieldDescription > h3 {
  margin: 10px 0px;
}

.fieldDescription > p {
  width: 90%;
  margin: 0px auto 20px;
  border-bottom: 1px solid #76a068;
  word-wrap: break-word;
}

.title {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px grey;
}

@media screen and (min-width: 480px) {
  .field {
    width: 45%;
  }
}
